@import "header.css";
@import "headliner.css";
@import "testimonials.css";
@import "propositions.css";
@import "footer.css";
@import "media-properties.css";
/**{*/
/*    border: blue 1px solid;*/
/*}*/
html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter', sans-serif;
    margin-right: 0;
    margin-left: 0;
}



